.card-list_mt {
  margin-top: 50px;
}

.card-list_odd {
  &:after {
    content:'';
    flex-basis:30%;
  }
}

.section__card {
  margin-bottom: 50px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;

  @media (min-width: $tablet) {
    width: 30%;
  }
}

.card_size_lg {
  @media (min-width: $tablet) {
    width: 48%;
  }
}

.card_size_sm {
  @media (min-width: $tablet) {
    width: 23%;
  }

  .card__title {
    margin-bottom: 20px;
  }
}

.card_bg_white {
  background: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  padding: 40px 26px;
}

.card__icon {
  font-size: 36px;
  margin-bottom: 20px;
}

.card__icon.card__icon_size_l {
  @media (min-width: $tablet) {
    font-size: 60px;
  }
}

.card__title {
  position: relative;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 45px;

  &:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -15px;
    display: block;
    width: 95px;
    height: 2px;
    background: rgba(255, 255, 255, 0.3);
  }
}

.card__title_weight_m {
  font-weight: 700;

  @media (min-width: $desctop) {
    font-size: 19px;
  }
}

.card_color_light {
  color: rgba(255, 255, 255, 0.5);

  .card__title {
    color: #fff;
  }
}

.card_color_dark {
  color: $color-text-primary;

  .card__icon {
    color: #b0bec5;
  }

  .card__title {
    color: #465b65;

    &:after {
      background: #b0bec5;
    }
  }
}

.card__intro {
  font-size: 18px;
}

.card__text {
  max-width: 100%;
  font-size: 16px;
  margin-bottom: auto;
}

.card__text_more {
  display: none;
}

.card__button {
  margin-top: 40px;
}

.card-list {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
  margin-bottom: -50px;
}

.card-list_nomb {
  margin-bottom: 0;
}

