.main_pt {
  padding-top: 60px;
}

.section {
  padding-top: 50px;
  padding-bottom: 60px;
  background: $section-bg;
}

.section_pt {
  padding-top: 110px;
}

.section_bg_dark {
  background: $color-primary;
  color: #fff;
}

.section_bg_grey {
  background: $color-secondary;

  p {
    color: rgba(255, 255, 255, 0.5);
  }
}

.section_bg_light-grey {
  background: $light-grey;
}

.section_bg_white {
  background: #fff;
}

.section_bg_gradient {
  background-image: linear-gradient(58deg, #ebeff1 39%, #ebeff1 100%);
}

.section-tabs {
  padding-top: 0;
}

.intro {
  background-color: $color-primary;

  @media (min-width: $desctop) {
    display: flex;
    align-items: center;
    min-height: 620px;
    height: 619px;
  }

  .container {
    @media (min-width: $desctop) {
      background: url("../images/intro.png");
      background-size: 415px auto;
      background-position: 95% 16px;
      background-repeat: no-repeat;
    }
  }
}

.intro__content {
  color: #fff;
  width: 100%;
  max-width: 730px;
}

.intro-img {
  display: none;

  @media (min-width: $desctop) {
    display: block;
    width: 415px;
    max-width: 90%;
    margin: 0 auto 25px;
  }
}

.intro__button {
  margin-top: 10px;
}

/*--- stripe ---*/
.stripe {
  padding-top: 50px;
  padding-bottom: 50px;
}

.section_bg_red {
  background: $red;
  color: #fff;
}

.section_bg_green {
  background: $green;
  color: #fff;
}

//.stripe__container {
//  display: flex;
//  flex-direction: column;
//  justify-content: space-between;
//}

.stripe__logo {
  margin-bottom: 30px;
}

.stripe__text {
  font-size: 22px;
  line-height: 1.4;

  @media (min-width: $tablet) {
    font-size: 30px;
  }
}

.stripe__text.stripe__text_sm {
  font-size: inherit;
  line-height: inherit;
}

.stripe__text.stripe__text_limit {
  @media (min-width: $tablet) {
    max-width: 60%;
    margin-right: 50px;
  }
}
/*--- /stripe ---*/

/*--- blockquote ---*/
.blockquote {
  color: #fff;
  font-size: 18px;
  border-radius: 4px;
  padding: 40px 10px;
}

.blockquote__content {
  position: relative;
  padding: 24px;

  @media (min-width: $tablet) {
    padding: 30px 50px 0;
  }

  &:before {
    content: '"';
    position: absolute;
    top: 0;
    left: 0;
    font-size: 55px;
    line-height: 1;
    font-weight: 400;
    font-style: italic;
  }
}

.person {
  display: flex;
}

.blockquote__cite {
  justify-content: flex-end;
  margin-top: 40px;
}

.person__avatar {
  width: 60px;
  height: 60px;
  flex: 0 0 60px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.21);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.person__name {
  font-size: 18px;
}
/*--- /blockquote ---*/

.row__col_text {
  font-size: 16px;
  margin-top: 30px;
}

.row__col {
  margin-bottom: 40px;

  &:last-child {
    margin-bottom: 0;
  }
}

@media (min-width: $desctop) {
  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .row_align_start {
    align-items: flex-start;
  }

  .row_justify_center {
    justify-content: center;
  }

  .row__col {
    flex: 0 0 47%;
    margin-bottom: 0;
  }

  .row__col_1 {
    flex: 1;
  }

  .row__col_2 {
    flex: 2;
  }

  .row__col_text {
    margin-top: 0;
  }

  .row__col_replace {
    order: 2;
  }
}

.row_mt {
  margin-top: 40px;
}


/*------------------------------------------*/

@media (min-width: $tablet) {
  .section_pt {
    padding-top: 120px;
  }

  .section-tabs {
    padding-top: 0;
  }

  .heading {
    margin-bottom: 70px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  .stripe {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .stripe__container {
    display: flex;
    align-items: center;
  }

  .stripe__text {
    margin-right: 140px;
  }

  .stripe__logo {
    order: 2;
    flex: 0 0 200px;
    margin-bottom: 0;
  }
}

.section-map {
  margin-bottom: -8px;
}
