.h1 {
  font-size: 48px;
  line-height: 1.5;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 400;
  width: 100%;
  max-width: 590px;
  margin-top: 0;
  margin-bottom: 24px;
}

.h1_size_sm {
  font-size: 36px;
}

.h1_mb_no {
  margin-bottom: 0;
}

.h1.intro__h1 {
  color: #cadae2;
}

.h2 {
  font-size: 30px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 2px;
  color: #374651;
}

.h2_white {
  color: #fff;
}

.h1_line,
.h2_line,
.subheading_line {
  position: relative;

  &:after {
    content: '';
    display: block;
    width: 90px;
    height: 5px;
    background: $red;
    margin-top: 10px;
  }
}

.h2_line_white {
  &:after {
    background: #fff;
  }
}

.h3 {
  position: relative;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 45px;
}

.h3_line {
  &:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -15px;
    display: block;
    width: 95px;
    height: 2px;
    background: rgba(255, 255, 255, 0.3);
  }
}

.h3_mt {
  margin-top: 40px;
}

.link {
  color: $color-link-primary;
  text-decoration: none;
}

.link_color_white {
  color: #fff;
}

.section__h1,
.section__h2 {
  margin-bottom: 40px;
}

.heading {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;

  .section__h2 {
    margin-bottom: 0;
  }
}

.heading__text {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.5);
}

.intro-text {
  color: $color-intro-text;
  font-size: 18px;
  line-height: 1.5;

  @media (min-width: $tablet) {
    font-size: 20px;
  }
}

.list_marker_check {
  list-style-type: none;
  margin: 15px 0;

  > li {
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.list_marker_dot {
  list-style-position: inside;

  > li {
    color: $red;

    > span {
      color: #fff;
    }
  }
}

.list_marker_icon {
  font-size: 20px;
  line-height: 1.2;
  list-style-type: none;

  > li {
    display: flex;
    align-items: center;
    break-inside: avoid-column;
    margin-bottom: 15px;

    &:before {
      content: '';
      display: block;
      width: 60px;
      height: 60px;
      flex: 0 0 60px;
      background: $green;
      border-radius: 50%;
      margin-right: 15px;
    }
  }
}

.list_col_2 {
  column-count: 2;
  column-width: 270px
;
}

.list_color_dark {
  > li {
    color: $red;

    > span {
      color: $black;
    }
  }
}

.list_size_l {
  font-size: 20px;
  font-weight: bold;
}

.list-heading {
  font-size: 20px;
  font-weight: 700;
}

.text_size_l {
  font-size: 18px;
}

.subheading {
  font-size: 30px;
}

svg.hidden {
  display: none;
}

.svg-icon {
  width: 60px;
  height: 60px;
  fill: #fff;
}

.svg-icon_c1 {
  fill: #465b65;
}

.svg-icon-list {
  width: 18px;
  height: 18px;
  flex: 0 0 18px;
  fill: #549a9d;
  margin-top: 5px;
  margin-right: 10px;
}

.svg-icon_light {
  fill: #e7efef;
}

.svg-icon_red {
  fill: $red;
}

.text-limited {
  width: 100%;
  max-width: 955px;
}
