/*--- colors ---*/
$grey: #37474f;
$dark-grey: #263238;
$light-grey: #eceff1;
$light: #fcfdff;
$red: #f27573;
$black: #020202;
$blue: #008599;
$green: #549a9d;

$color-primary: $dark-grey;
$color-secondary: $grey;
$color-intro-text: #768b95;

$color-text-primary: $black;
$color-link-primary: $blue;

$section-bg: $light;

$form-active-color: $blue;
$link-color: $blue;
$check-color: $green;
/*--- /colors ---*/

/*--- breakpoints ---*/
$tablet: 768px;
$desctop: 1024px;
/*--- /breakpoints ---*/